<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <appender name="WarningFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/easy-crawl.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/easy-crawl-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{0}] %-5level - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>
    <appender name="DebugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/easy-crawl-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/easy-crawl-debug-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{0}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SlowFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/slow-web.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/admin-web-slow-web-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread][%logger{0}] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.session.web.http.SessionRepositoryFilter.SESSION_LOGGER" level="INFO"/>

    <logger name="com.snow.panda.core.dao" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="DebugFile"/>
        <appender-ref ref="WarningFile"/>
    </root>

    <logger name="com.snow.common.filter.SlowFilter" level="DEBUG" additivity="false">
        <appender-ref ref="SlowFile"/>
    </logger>


</configuration>